
.comment-subcomment {
    position: absolute;
    margin-left: -20px;
    color: brown;
}

.comment-item {
    border-bottom: 1px #eee solid;
    padding: 3px 10px;
}

.comment-avatar {
    border: 1px solid #ccc;
    padding: 2px;
}

.comment-item .media-left {
    margin-right: 15px;
}