.rating-updown {
    margin:0 0 0 10px;
}

.rating-updown .rate-up{
    color: #8dbb8d;
}

.rating-updown .rate-down{
    color: #ff8a8a;
}
.rating-updown .rate-up, .rating-updown .rate-down{
    margin: 4px;
    cursor: pointer;
}

.rating-updown .rate-up:hover, .rating-updown .rate-down:hover{
    opacity: 0.5;
}


.rating-custom {
    font-size: 1.5em;
}

.rating-container .rating-input {
    border: none;
    border-bottom:none !important;
}
